{% extends "default/base.jinja" %}

{% block title %}Deleting {{link.title}} - {% endblock %}
{% block pagetitle %}Deleting {{link.title}} - {% endblock %}

{% import 'default/single_link.jinja' as single_link %}
{% block content %}
	{{ single_link.single_link(link, false) }}
	<p>Are you sure you want to delete this link ?</p>
	<div class="action-buttons">
		<form action="" method="POST">
			{{ form.hidden_tag() }}
			<button class="button button-positive" value="confirm_delete">Yes, I'm sure</button>
			<button class="button" value="cancel_delete">Nope, take me back</button>
		</form>
	</div>
{% endblock %}